.form-control Image {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}
.form-control.error Image {
  visibility: visible;
  color: #e74c3c;
}
.form-control.success Image {
  visibility: visible;
  color: #2ecc71;
}
